# Arabic Dialect Classifier
This notebook contains the training of the classifier model.

In [1]:
import pandas as pd

## 1. Exploring the Dataset

In [5]:
df_train = pd.read_csv("../data/DA_train_labeled.tsv", sep="\t")
df_test = pd.read_csv("../data/DA_dev_labeled.tsv", sep="\t")

In [6]:
df_train.head()

,#1_tweetid,#2_tweet,#3_country_label,#4_province_label
0,TRAIN_0,حاجة حلوة اكيد,Egypt,eg_Faiyum
1,TRAIN_1,عم بشتغلوا للشعب الاميركي اما نحن يكذبوا ويغشو...,Iraq,iq_Dihok
2,TRAIN_2,ابشر طال عمرك,Saudi_Arabia,sa_Ha'il
3,TRAIN_3,منطق 2017: أنا والغريب علي إبن عمي وأنا والغري...,Mauritania,mr_Nouakchott
4,TRAIN_4,شهرين وتروح والباقي غير صيف ملينا,Algeria,dz_El-Oued

In [7]:
df_test.head()

,#1_tweetid,#2_tweet,#3_country_label,#4_province_label
0,DEV_0,قولنا اون لاين لا يا علي اون لاين لا,Egypt,eg_Alexandria
1,DEV_1,ههههه بايخه ههههه URL …,Oman,om_Muscat
2,DEV_2,ربنا يخليك يا دوك ولك المثل :D,Lebanon,lb_South-Lebanon
3,DEV_3,#اوامر_ملكيه ياشباب اي واحد فيكم عنده شي يذكره...,Syria,sy_Damascus-City
4,DEV_4,شد عالخط حتى هيا اكويسه,Libya,ly_Misrata

## 2. Training the Classifier

## 3. Evaluating the Performance